.purchase__contents.body
  = render partial: 'items/frame_upper'
  .purchase__content__main
    .purchase__content__main__boxes
      %section.registration
        %h2.title 支払い方法
      .registration__box
        %section.registration
          .user__info__box
            .user__info
              %h3.subtitle クレジットカード
            = link_to "/credit_cards/new", class:'entry__box' do
              %span.entry 新規カードを登録する
        %section.registration
          .enter
            %button.enter__box.btn 選択した支払い方法を使う
            = link_to "もどる", "/items/:item_id/purchase/:id" , class:'return' 
  = render partial: 'items/frame_bottom'