.mypage 
  %main.mypage__profile
    .main__profile
      =form_with model:@user, url: users_path, local: true do |f|
        .main__profile--form
          .main__profile--header プロフィール
          .main__profile__name 
          .main__profile__name--img
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", height: "150", width: "150", class: "user-img"
          .main__profile__name--nickname 
            名前
          -# =f.text_field :nickname
          =current_user.nickname  
          .main__profile__name--message
            %h2 プロフィール記入欄
          = f.text_area :introduction,class:'text-introduction',placeholder:"例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪", size: "46x16"
          .main__profile__name--message--info
            ＊1000文字以内入力
          .main__form-edit
            = f.submit "変更する" , class: "btn-default-profile" 