
@mixin default__btn{
  width:400px;
  height: 60px;
  margin-top:25px;
  border: solid 0px;
  padding: 10px 24px 10px;
  text-align: center;
  font-size:18px;
  color:#fff;
  cursor: pointer;
  background-color:#3ccace;
}


.wrapper{
  background-color:  whitesmoke;
}
  .mypage__profile {
     height:1100px;
     margin-top:45px;
     margin-left: 300px;
    
  
    .main__profile {
      width: 600px;
      background-color: #fff;
      padding:15px 25px;
      
      .main__profile--form{
        padding:5px;
        text-align: center;
        
      .main__profile--header{
        width:400px;
        height: 45px;
        text-align: center;
        font-size: 20px;
        padding: 6px 24px;
        margin-top: 15px;
        margin-left: 55px;
        background-color: silver;
       }
        
         
       .main__profile__name {
           height: 35px;
           text-align: center;
           margin: 2px auto;
           font-size: 24px;
           background-image: #fff;
         }

         .main__profile__name--img{
             margin-left: 190px;
             width: 150px;
             height: 150px;
            }
            .main__profile__name--nickname {
              margin-top:10px;
              font-size: 24px;
            }
            #nickname{
              width: 200px;
              height: 40px;
            }
            .main__profile__name--message{
              width:370px;
            }
               
            h2{
              font-size: 18px;
              margin-top:20px;
              margin-left: 170px;
              margin-bottom:10px;
            }
            .text-introduction{
              padding:15px;
            }
            .main__profile__name--message--info{
              font-weight:normal;
              font-size: 14px;
            }  
      
            .btn-default-create{
             @include default__btn
             } 
          
             .btn-default-profile{
               @include default__btn
             }
      }
    }
  }
    
 