
    .logout{
      margin-top:200px;
      margin-left:330px;
      width:600px;
      height: 250px;
      background-color:#fff;
      padding:20px;
      border:solid 1px silver;
      border-radius: 5px;
       
  
      .logout_btn{
        width: 350px;
        height: 50px;
        background-color:#3ccace;
        margin-top: 75px;
        margin-left: 100px;
        cursor: pointer;
        border:solid 1px silver;
        padding: 10px 24px 10px;
        text-align: center;
        font-size:18px;
        color:#fff;
      }
    }