.body{
  padding:0;
  margin:0;

  .body__box{
    margin:0 auto;
    text-align: center;
    
  .body__box__complete{
    margin-top:45px;
    font-size: 18px;

  }
  .button{
    font-size: 18px;
    margin-top:35px;
    a{
      text-decoration: none;
    }
   }
  }
}