.header {
  padding: 0 60px;
  &__content {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main {
      position: relative;
      display: flex;
      align-items: center;
      .header--logo {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .furima--logo {
          width: 140px;
          display: block;
        }
      }
      .item__search {
        width: 100%;
        margin-left: auto;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .item__search__box {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
        .btn {
          width: 36px;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
          border: 0;
        }
        .btn:hover {
          opacity: 0.9;
        }
      }
    }
    .nav {
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      .header__list__left {
        display: flex;
        &__items {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            padding-right: 30px;
          }
        }
        &__items__first{
          text-decoration: none;
          padding: 0;
        }
      }
      .header__list__right {
        margin-left: auto;
        display: flex;
        &__items {
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.main {
  background-color: #f8f8f8;
  section.main__visual {
    width: 100%;
    height: 560px;
    background-image: image-url(pict/bg-mainVisual-pict_pc);
    background-size: cover;
    background-position: top center;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0 ;
      &__subtitle {
        font-size: 60px;
        color: #fff;
        line-height: 1.2;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__text {
        line-height: 1.77778;
        margin: 16px 0 0 0;
        font-size: 18px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__btn {
        display: flex;
        margin: 23px 0 0 0 ;
        .apple--btn {
          width: 180px;
          margin-right: 10px;
        }
        .apple--btn:hover {
          opacity: 0.5;
        }
        .google--btn {
          width: 180px;
        }
        .google--btn:hover {
          opacity: 0.5;
        }
      }
    }
  }
  section.top__introduction {
    padding: 60px 20px;
    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .subtitle::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin: 16px 5% 0 0 ;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .list__last {
        margin: 16px 0 0;
      }
    }
  }
  section.top__middle__dl {
    background-image: image-url(pict/bg-topMiddleDl-pict);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .top__middle__dl__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        .apple--btn {
          width: 180px;
          margin-right: 10px;
        }
        .apple--btn:hover {
          opacity: 0.5;
        }
        .google--btn {
          width: 180px;
        }
        .google--btn:hover {
          opacity: 0.5;
        }
      }
    }
  }
  section.top__key__features {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    //mixin対象
    .head::after { 
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  section.pickup__container {
    padding: 80px 0 0 ;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .product__box {
      .product__head {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .title {
            font-weight: bold;
          }
        }
      }
      .product__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          position: relative;
        }
        .product__list {
          width: 220px;
          display: inline-block;
          float: left;
          a {
            background-color: #fff;
            display: inline-block;
            .product__list__img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .product__list__body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
          a:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
  section.pickup__container:last-child {
    padding-bottom: 80px;
  }
}

.app__banner {
  background-image: image-url(pict/bg-appBanner-pict);
  padding: 100px 40px;
  background-size: cover;
  background-position: center;
  position: relative;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a:first-child {
        margin-right: 10px;
        img {
          width: 180px;
        }
        img:hover {
          opacity: 0.5;
        }
      }
      a {
        img {
          width: 180px;
        }
        img:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;

  }
  p {
    font-size: 14px;
  }
}

a {
  .purchase__btn {
    width: 120px;
    background-color: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__icon {
      width: 60%;
    }
  }
}
a:hover {
  opacity: 0.9;
}
