* {
  box-sizing: border-box;
}

.show-nav {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;

  &__category-lists {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;

    &__list {
      padding: 0 10px 0 0;
      line-height: 16px;

      &__link {
        text-decoration: none;
        color: #333;
      }
    }

    &__icon {
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      padding: 0 10px 0 0;
    }
  }
}

.show-main {
  background-color: #f8f8f8;

  &__contents {
    padding: 40px;
    margin: 0 auto;

    &__main-content {
      width: 700px;
      margin: 0 auto;

      &__item-info {
        
        &__item-box {
          background-color: #fff;
          padding: 24px 40px 40px;
          
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }

          &__images {
            margin: 16px 0 0;

            ul {
              display: flex;
              position: relative;
              list-style: none;

              li {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                margin: 0 auto;

                ul {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  width: 100%;

                  li {
                    width: 20%;
                    margin: 0 10px 0 0;
                  }
                }
              }
            }
          }

          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;

            span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }

            &__detail {
              font-size: 12px;
            }
          }

          &__describe {
            line-height: 1.5;
            font-size: 12px;
            margin-bottom: 20px;
          }

          &__table {
            margin-bottom: 20px;

            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;

              tbody {
                
                tr {

                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 12px;
                    text-align: center;
                  }

                  td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 12px;
                  }
                } 
              }
            }
          }

          &__optional-area {
            display: flex;
            justify-content: space-between;

            ul {
              margin: 10px 0 0;
              display: flex;

              .like-btn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                font-size: 12px;

                .like-icon {
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;

                }
              }

              .report-btn {
                font-size: 12px;

                .report-btn-link {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;

                  .flag-icon {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
            }
          }
        }

        &__purchase-link {
          background-color: #fff;
          padding: 24px 40px;

          &__purchase-box {
            line-height: 50px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 100%;
            height: 50px;
            margin: 0 auto;
            cursor: pointer;
            text-align: center;
            margin-bottom: 10px;

            .purchase-btn {
              display: block;
              text-decoration: none;
              font-size: 22px;
              color: #fff;
              font-weight: bold;
            }
          }
        }

        &__edit-link {
          background-color: #fff;
          padding: 24px 40px;

          &__edit-box {
            line-height: 50px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 100%;
            height: 50px;
            margin: 0 auto;
            cursor: pointer;
            text-align: center;
            margin-bottom: 10px;

            .edit-btn {
              display: block;
              text-decoration: none;
              font-size: 22px;
              color: #fff;
              font-weight: bold;
            }
          }

          &__delete-box {
            line-height: 50px;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            width: 100%;
            height: 50px;
            margin: 0 auto;
            cursor: pointer;
            text-align: center;

            .delete-btn {
              display: block;
              text-decoration: none;
              font-size: 22px;
              color: #fff;
              font-weight: bold;
            }
          }
        }

        &__comment-box {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;

          &__form {

            &__textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid black;
            }

            &__notice {
              padding: 8px;
              font-size: 10px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }

            &__comment-btn {
              font-size: 12px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              margin: 0 auto;
              cursor: pointer;
              
              .comment-icon {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }

            &__comment-btn:hover {
              background-color: #7ee2e6;
            }
          }
        }
      }

      &__links {
        list-style: none;
        font-size: 12px;

        .before-item {
          float: left;

          .before-item-link {
            text-decoration: none;
            color: #3CCACE;

            .angle-left-icon {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }

        .after-item {
          float: right;

          .after-item-link {
            text-decoration: none;
            color: #3CCACE;

            .angle-right-icon {
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }

      &__related-items {
        margin: 35px 0 8px;

        &__link {
          text-align: left;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 18px;
        } 
      }
    }
  }

}