
  
  .users__address__body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    

    .users__address__body__box{
      margin :0 auto;
      width :400px;
      height: 100%;
      box-sizing: border-box;
      text-align: center;
      .users__address__body__main{
        padding-top: 45px;
        h2{
          font-size:25px;
          font-weight: bold;
        }
      }
    }
  }
      
    .filed{
        display:flex;
        margin-top: 30px;
        margin-bottom:10px;
        margin-left:50px;
        
    }
          // 必須アイコン
          .head_icon{
            background-color: #3ccace;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 10px;
            display: inline-block;  
          }
          // 任意のアイコン
        .head_icon-non{
          background-color: grey;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 10px;
          display: inline-block;  
        }  
        #user_address_first_name{
          display:flex;
          width: 130px;
          height: 35px;
          font-size: 14px;
          margin-right:20px;
          margin-left:15px;
          display: inline-block;
          
        }

        #user_address_last_name{
            display:flex;
            width: 130px;
            height: 35px;
            font-size: 14px;
            margin-right:20px;
            margin-left:15px;
            display: inline-block;
          }
        
        #user_address_first_name_kana{
          display:flex;
          width: 130px;
          height: 35px;
          font-size: 14px;
          margin-right:20px;
          margin-left:15px;
          display: inline-block;
          
        }

        #user_address_last_name_kana{
            display:flex;
            width: 130px;
            height: 35px;
            font-size: 14px;
            margin-right:20px;
            margin-left:15px;
            display: inline-block;
        }

        #user_address_postal_code{
          width: 300px;
          height: 35px;
          padding-left:10px;
          font-size: 14px;
        }

        
       #user_address_prefecture{
         width: 300px;
         height: 35px;
         padding-left:10px;
         font-size: 14px;
       }

        #user_address_address{
          width: 300px;
          height: 35px;
          padding-left:10px;
          font-size: 14px;
       }
      
       #user_address_city{
        width: 300px;
        height: 35px;
        padding-left:10px;
        font-size: 14px;
       }
        
       #user_address_building{
        width: 300px;
        height: 35px;
        padding-left:10px;
        font-size: 14px;
       }

       #user_address_phone_number{
        width: 300px;
        height: 35px;
        padding-left:10px;
        font-size: 14px;
       }


       .filed__line{
         border-top: 2px solid #eee;
       }
       .btn-default{
         background-color: #3ccace;
         border:1px;
         width: 300px;
         height: 40px;
         cursor: pointer;
         padding-left:10px;
         font-size: 14px;
         margin:40px 0px;
       }
      


